/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*

# Environment files (EXCLUDE EXAMPLES)
.env
.env.*
!.env.example
!.env.production.example

.phpunit.result.cache
.idea/
.vscode/
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db
